# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables / secrets
.env
.env.*
!.env.example

# Chroma / vector databases
chroma_db/
chroma/
*.sqlite3


# Large local models
models/
*.gguf

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/